.bg-forget-pass {
    background-image: url(../../../../assets/bg-forget-pass.png);
    background-size: cover;
    height: 98vh;
}

.link-login {
    text-decoration: none;
    color: red;
}

.contanerInput {
    position: relative;
    animation: animitrnscontent 1s alternate backwards;

}

.contanerimage {
    position: relative;
    animation: animitrnsimg 1s alternate backwards;
}

/* // animation style */
@keyframes animitrnscontent {
    from {
        transform: translateX(-50%);

    }

    to {
        transform: translateX(0%);
    }
}

@keyframes animitrnsimg {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0%);
    }
}