.leftside{
    padding: 30px;
}

.leftside h1{
    margin-bottom: 20px;
}
.leftside h6{
    margin-bottom: 20px;
}

.img-container{
    height: 100vh;
    background-image:url("/src/assets/imageheader.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: left;
    color: #fff;
    padding-bottom: 40px;
    
    

    
}
.img-container h3{
    margin-bottom: 20px;
        font-weight: bold;

}