:root {
  --Title-color: rgb(50, 82, 223);
  --Titlehead-color: rgba(21, 44, 91, 1);
  --Link-color: rgb(223, 77, 68);
  --h3: rgba(255, 255, 255, 1);
}
.imagStyle {
  height: calc(100vh - 20px);
  img {
    width: 100%;
    height: 100%;
  }
}

.Herohead {
  color: var(--Titlehead-color);
}
.mainheader {
  color: var(--Title-color);
}

.Linklogin {
  text-decoration: none !important;
  color: var(--Link-color) !important;
  margin-left: 10px !important;
}
.bttnSub {
  background-color: var(--Title-color) !important;
}

.inputPass {
  position: relative;
  .showicon {
    position: absolute !important;
    right: 10px !important;
    top: 20% !important;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
.inputConfPass {
  position: relative;
  .showicon {
    position: absolute !important;
    right: 10px !important;
    top: 50% !important;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.Titleimg {
  // position: relative;
  // bottom: 20%;
  // left: 10%;
  position: absolute;
  bottom: 10%;
  right: 21%;
  h3 {
    color: var(--h3);
  }
  h6 {
    color: var(--h3);
  }
}
